.projects-container{
    display: flex;
    background-color: #FCEDDA;
}
.project-items-container{
    right: -20dvw;
    width: 78.69dvw;
    position: relative;
}
.project-items-heading{
    display: flex;
    flex-direction: column;
    height: 20dvh;
    color: #3E2723;
    padding-left : 10px;
    padding-top : 10px;
    margin-top: 10px;
    margin-left : 10px;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 3rem;    
}

.projects-inside-container{
    display: grid;
    gap : 15px;
    grid-template-columns: auto auto;
    padding: 20px;
}
.projectImage{
    width: 37.53dvw;
    height: 60dvh;
    position: relative;
    object-fit: contain;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.projectTitle{
    font-family: Quicksand;
    font-weight: 600;
    font-size: 1rem;
    text-align: left;
    padding-left: 10px;
}
.projectDesp{
    padding-left: 10px;
}
.project-items{
    height: 70dvh;
    background-color: #EE4E34;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 1025px){
    .projects-inside-container{
        gap: 12px;
        grid-template-columns: auto;
    }
    .projectImage{
        height: 400px;
        width: 73dvw;
    }
    .project-items{
        height: 500px;  
    }
}
@media only screen and (max-width: 770px){
    .projects-inside-container{
        gap: 10px;
        grid-template-columns: auto;
    }
    .projectImage{
        height: 500px;
        width: 73.5dvw;
    }
    .project-items{
        height: 560px;  
    }
}
@media only screen and (max-width: 520px){
    .project-items-container{
        left : 0dvw;
        position: relative;
        width: 100dvw;
    }
    .project-items-heading{
        font-size: 2rem;
        top : 1dvh;
        text-align: right;
        right: 5dvw;
        position: relative;
    }
    .projects-inside-container{
        gap: 10px;
        grid-template-columns: auto;
    }
    .project-items{
        height: 320px;  
    }
    .projectImage{
        height: 270px;
        width: 90dvw;
    }
}
@media only screen and (max-width: 380px){
    .project-items-container{
        left : 0dvw;
        position: relative;
        width: 100dvw;
    }
    .project-items-heading{
        font-size: 2rem;
        top : 1dvh;
        text-align: right;
        right: 5dvw;
        position: relative;
    }
    .projects-inside-container{
        gap: 10px;
        grid-template-columns: auto;
    }
    .project-items{
        height: 260px;  
    }
    .projectImage{
        height: 200px;
        width: 90dvw;
    }
}
@media only screen and (max-width: 281px){
    .project-items-container{
        margin-right: 10px;
        position: relative;
        left: -6px;
    }
    .project-items-heading{
        font-size: 1.3rem;
        top : 2dvh;
        text-align: right;
        right: 5dvw;
        position: relative;
    }
    .projects-inside-container{
        gap: 10px;
        grid-template-columns: auto;
    }
    .project-items{
        height: 270px;  
    }
    .projectImage{
        height: 200px;
        width: 90dvw;
    }
}