.about-container{
    display: flex;
    background-color: #FCEDDA;
}
.about-items-container{
    height: 100dvh;
    right: -20dvw;
    position: relative;
    display: flex;
    flex-direction: column;
}
.about-items-heading{
    display: flex;
    flex-direction: column;
    height: 20dvh;
    color: #3E2723;
    padding-left : 10px;
    padding-top : 10px;
    margin-top: 10px;
    margin-left : 10px;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 3rem;
}
.about-items-components{
    display: flex;
    padding-left: 30px;
    padding-top: 10px;
}
.profile_picture{
    height: 400px;
    width: 300px;
    object-fit: contain;
    border-radius: 10px;
}
.about-right-container-Description{
    padding-left: 30px;
    width: 600px;
}
@media only screen and (max-width: 1025px){
    .about-right-container-Description{
        width: 400px;
    }
}
@media only screen and (max-width: 913px){
    .about-items-components{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about-items-heading{
        height: 15dvh;
    }
    .profile_picture{
        height: 300px;
        width: 500px;
    }
    .about-right-container-Description{
        width: 75dvw;
        text-align: center;
        margin-top: 30px;
        padding: 0;
    }
}
@media only screen and (max-width: 541px){
    .profile_picture{
        height: 250px;
        width: 350px ;
    }
    .about-right-container-Description{
        width: 380px;
    }
}
@media only screen and (max-width: 431px){
    .about-items-container{
        left : 11dvw;
    }
    .about-items-heading{
        font-size: 2rem;
        top : 1dvh;
        text-align: right;
        right: -2dvw;
        position: relative;
    }
    .about-items-components{
        padding: 0;
        margin: 0 auto;
    }
    .profile_picture{
        height: 250px;
        width: 80dvw ;
    }
    .about-right-container-Description{
        width: 80dvw;
    }
}
@media only screen and (max-width: 281px){
    .about-items-heading{
        font-size: 1.5rem;
        height: 20dvh;
    }
    .about-items-components{
        padding: 0;
        margin: 0 auto;
    }
    .profile_picture{
        height: 200px;
        width: 80dvw ;
    }
    .about-right-container-Description{
        width: 80dvw;
    }
}
