.contact-container{
    display: flex;
    background-color: #FCEDDA;
}

.contact-items-container{
    height: 100dvh;
    right: -20dvw;
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: Quicksand;
    margin-bottom: 20px;
}
.page-heading{
    display: flex;
    flex-direction: column;
    height: 20dvh;
    color: #3E2723;
    padding-left : 10px;
    padding-top : 10px;
    margin-top: 10px;
    margin-left : 10px;
    font-weight: 500;
    font-size: 3rem;
}
.contact-items-components{
    display: flex;
    width: 100%;
    padding-left: 100px;
    padding-top: 50px;
    margin : 0 auto;
    justify-content: center;
}
.contact-left-component{
    display: flex;
    flex-direction: column;
    margin : 0 auto;
    justify-content: center;
    //padding-top: 30px;
    position: relative;
    top : -50px;
}
.email-contact{
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    display: flex;
}
.phone-contact{
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    display: flex;
}
.contact-button{
    margin-top: 15px;
    margin-bottom: 15px;
    width : 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #EE4E34;
    color : #F5F5DC;
    transition: 0.5s;
    font-size: 1rem;
    cursor: pointer;
}
.contact-button:hover{
    opacity: .8;
}
.social-icons-container{
    margin-top: 15px;
    margin-bottom: 15px;
}
.icon-links{
    padding-right : 15px;
    color: #3E2723;
}
.icons{
    color: #3E2723;
    align-items: center;
    margin-right: 10px;
}

.contact-right-component{
    display: flex;
    flex-direction: column;
    margin : 0 auto;
    justify-content: center;
    
}
.contact-right-input{
    width: 340px;
    height: 41px;
    border-radius: 5px;
    border-style: none;
    margin-bottom: 20px;
}
.contact-right-textarea{
    border-style: none;
    border-radius: 5px;
    font-family: 'Quicksand';
}

@media only screen and (max-width:1025px) {
    .contact-items-components{
        padding-left: 5dvw;
    }
}
@media only screen and (max-width: 913px) {
    .contact-items-container{
        height: 100dvh;
    }
    .contact-items-components{
        padding-left: 15dvw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-left-component{
        margin-bottom: 30px;
    }
    .contact-button{
        margin: 0 auto;
        margin-top : 30px;
    }

}

@media only screen and (max-width: 541px) {
    .contact-items-container{
        height: 100%;
    }
    .page-heading{
        height: 20dvh;
    }
    .contact-items-components{
        padding-left: 5dvw;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-left-component{
        margin-bottom: 30px;
    }
    .contact-button{
        margin: 0 auto;
        margin-top : 30px;
    }

}

@media only screen and (max-width: 431px) {
    .contact-items-container{
        height: 100dvh;
        left : 11dvw;
    }
    .page-heading{
        font-size: 2rem;
        top : 1dvh;
        text-align: right;
        right: -2dvw;
        position: relative;
    }
    .contact-items-components{
        padding: 0;
        margin: 0 auto;
        width: 80dvw;
    }
}

@media only screen and (max-width: 376px) {
    .contact-items-container{
        height: 100%;
        left : 11dvw;
    }
    .page-heading{
        font-size: 2rem;
        top : 1dvh;
        text-align: right;
        right: -2dvw;
        position: relative;
    }
    .contact-items-components{
        margin-top: 2dvh;
        width: 80dvw;
        padding: 0;
    }
}

@media only screen and (max-width: 281px) {
    .contact-items-container{
        height: 100%;
    }
    .page-heading{
        font-size: 1.3rem;
        top : 2dvh;
        text-align: right;
        right: -2dvw;
        position: relative;
    }
    .contact-items-components{
        font-size: 0.7rem;
        margin-top: 2dvh;
        width: 80dvw;
        padding: 0;
    }
    .contact-right-input{
        width: 220px;
    }
    .contact-right-textarea{
        width: 220px;
    }
}

